<footer id="Footer" class="clearfix">
    <div class="widgets_wrapper" style="padding:60px 0 45px;">
        <div class="container">
            <div class="column one">
                <aside class="widget widget_text">
                    <div class="textwidget">
                        <div style="text-align: center; margin: 0 10%;">
                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                <div class="image_wrapper"><img class="scale-with-grid" src="img/home_music_list_footer_logo.png" alt="home_music_list_footer_logo" width="66" height="50" /> </div>
                            </div>
                            <hr class="no_line" style="margin: 0 auto 20px;" />
                            <p>
                                Pellentesque rhoncus mollis lorem cursus dignissim. Cras scelerisque ex et placerat condimentum. Duis hendrerit justo vitae arcu finibus lobortis. Suspendisse sed augue a nibh condimentum porttitor. Phasellus luctus, ligula sed fringilla auctor, ligula massa volutpat lacus, eget gravida justo ante nec metus massa nunc id eleifend lacus.
                            </p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer_copy">
        <div class="container">
            <div class="column one">
                <div class="copyright">
                    &copy; 2017 BeMusic - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="http://bit.ly/1M6lijQ">BeantownThemes</a>
                </div>
                <ul class="social"></ul>
            </div>
        </div>
    </div>
</footer>