<div class="menu_wrapper">
<nav id="menu" class="menu-main-menu-container">
    <ul id="menu-main-menu" class="menu">
        <li class="current_page_item">
            <a href="index-music.html"><span>Home</span></a>
        </li>
        <li>
            <a href="about-us.html"><span>About us</span></a>
        </li>
        <li>
            <a href="the-studio.html"><span>The studio</span></a>
        </li>
        <li>
            <a href="our-tracks.html"><span>Our tracks</span></a>
        </li>
        <li>
            <a href="contact.html"><span>Contact</span></a>
        </li>
    </ul>
</nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
</div>