<div class="section mcb-section" style="padding-top:120px; padding-bottom:80px;" data-parallax="3d"><img class="mfn-parallax" src="img/home_music_sectionbg1.png" alt="parallax background" />
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one  valign-top clearfix">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column  ">
                    <div class="column_attr">
                        <h2>"Não há nada de mais belo do que distribuir a felicidade por muitas pessoas."</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>